
*{
    margin: 0px;
    padding: 0px;
}

/* ......................................... Header section CSS ................  */

header {
background-color: #35424a;
font-size: 20px;
padding-left: 152px;
padding-top: 26px;
border-bottom: orange 3px solid;
}
header h1 {
font-size: 32px;
color: #e8491d;
padding: 1px;
}
header #sub{
font-size: 32px;
color: white;
}

/* ......................................... Conatainer section CSS ................  */

#container-pic{
display: flex;
flex-direction: column;
align-items: baseline;
justify-content: baseline;
background-image: url("./images/bg.jpg");
background-repeat: no-repeat;
background-size: 100%;
height: 900px;
}

.text-div {
display: flex;
height: 980px;
flex-direction: column;
justify-content: flex-end;
text-align: center;
color:white;
padding: 20px 145px;
}
.text-div h2{
font-size: 69px;
color: white;
margin-bottom: 5px;
}
.text-div p{
font-size: 20px;
}


/* ......................................... Search box  section CSS ................  */

.search-div{
padding: 15px;
padding-left: 165px;
background-color:#35434a;;

}
h3{
font-size: 29px;
color: white;
padding-bottom: 13px;
}


.search-div input[type="text"] {
padding: 4px;
height: 25px;
width: 250px;
}

button {
height: 38px;
background-color: #e8491d;
padding: 0px 10px;
border: 0;
color: #ffffff;
}

/* ......................................... img boxes  section CSS ................  */

/* #box-section {
display: grid;
width: 1046px;
padding: 11px;
margin: 0px;
margin-left: 64px;
justify-content: space-between;
grid-template-columns: 120px 120px 120px;
} */

#box-section {
flex-wrap: wrap;
display: flex;
margin: 15px 63px;
justify-content: space-around;
}
.box {
width: 332px;
margin: 19px 25px;
padding: 2px 21px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.box img {
height: 80px;
width: 80px;
}
p{
text-align: center;
}
h4{
font-size: 20px;
}
.box img {
height: 75px;
width: 75px;
margin-bottom: 20px;
}

.box p{
text-align: center;
margin: 15px;
}

/* ......................................... footer  section CSS ................  */

footer{
background-color: #e8491d;
padding: 20px;
text-align: center;
}


/* ............................................ */

@media screen and (min-width: 2560px) {
    #container-pic{
    height: auto;
    }
   .text-div {
    height: 1527px;
    margin: 0px 483px;
   }
    #box-section {
        margin: 28px 417px;
    }
    .box {
        width: 396px;
        margin: 35px 3px;
        padding: 2px 15px
    }
    .box img {
        height: 120px;
        width: 120px;
        margin-bottom: 25px;
    }}
    /* .......................................... */
@media screen and (max-width: 1024px) {
#container-pic{
height: 640px;
}
header {
padding-left: 100px;
}
.text-div {
padding: 0px 83px;
}
.search-div { 
padding-left: 96px;
}
#box-section {
margin: 15px 15px;
}
.box {
margin: 19px -38px;
padding: 2px 0px;
}
}


/* .......................................................... */
@media screen and (max-width: 768px) {
#container-pic{
height: 480px;
}
header {
padding-left: 70px;
}
.text-div {
padding: 0px 58px;
}
.search-div { 
padding-left: 60px;
}
h2{
color:rgb(181, 179, 179) ;
}
}

/* .......................................................... */
@media screen and (max-width: 426px) {

#container-pic{
height: 250px;
}
header #sub {
font-size: 23px;
}
header h1 {
font-size: 25px;
}
header {
padding-left: 40px;
}
.text-div {
padding: 0px 11px;
}
.text-div h2 {
font-size: 30px;
}
.text-div p {
font-size: 15px;
}
.search-div { 
padding-left: 20px;
}
h3 {
font-size: 24px;
}
.search-div input[type="text"] {
height: 18px;
width: 125px;
}
button {
height: 30px;
}
footer h4{
font-size: 16px;
}
}

/* .......................................................... */
@media screen and (max-width: 376px) {

#container-pic{
height: 234px;
}}

/* .......................................................... */
@media screen and (max-width: 321px) {

#container-pic{
height: 200px;
}}